<!-- Navbar -->
<div class="d-none d-lg-block sticky-top overflow">
  <div class="navbar navbar-expand-lg navbar-light navbar-boiler">
    <a class="pl-4" href="#">
      <p class="my-auto">Logo / Company Name</p>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" >
          <a class="nav-link" id="nav-white-text" href="#about">How</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="nav-white-text" href="#team">Who</a>
        </li>
        <li class="nav-item pr-2">
          <a class="nav-link" id="nav-white-text" href="#contactUs">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- Navbar Mobile-->
<div class="d-block d-lg-none sticky-top">
  <div class="navbar navbar-expand-lg navbar-light navbar-boiler">
    <a class="pl-4" href="#">
      <p class="my-auto">Logo / Company Name</p>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse mob-nav-drop" id="navbarSupportedContent">
      <ul class="navbar-nav ml-4 mr-auto">
        <li class="nav-item" >
          <a class="nav-link" id="nav-white-text" href="#about">How</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="nav-white-text" href="#team">Who</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="nav-white-text" href="#contactUs">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</div>
